<template>
  <div>
      <div class="chat-item" v-for="message in messages" :data-class="((message.user_id == user.id && message.is_admin)? 'alt' : '' )">
          <div class="chat-body">
            <strong>{{(message.is_admin)? message.admin.name : message.user.name}}</strong>
            <div class="chat-content rounded msg">
              <div class="msg-content" v-html="message.message"></div>
              <div class="chat-menu">
                  <a id="btn_menu_message" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
                    <!-- <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18"><path fill-opacity=".45" d="M3.3 4.6L9 10.3l5.7-5.7 1.6 1.6L9 13.4 1.7 6.2l1.6-1.6z"></path></svg> -->
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" v-on:click="deleteMessage(message)">Excluir mensagem</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#" v-on:click="blockUser(message)">Bloquear Usuário</a>
                  </div>
                </div>
            </div>
            <div class="chat-date date">{{message.created_at | timeAgo}}</div>
            
          </div>
        </div>
  </div>
    
    
</template>

<script>
    export default {
      props : ['user','messages'],
      mounted(){
        // console.log(this.messages)
        // console.log(this.user)
      },
      methods : {
        moment : function(){
          return moment();
        },
        deleteMessage : function(message){
          //console.log('excluindo mensagen ' + message.id);
          console.log('user_id : '+ this.user.id);
          this.$emit('delete_message',message, this.user);
        },
        blockUser : function(message){
          this.$emit('block_user',message.user_id);
        }
      },
      filters : {
        timeAgo : function(date){
          return moment(date).fromNow();
        }
      }
    }
</script>