<template>
  <div>
    <div class="context-menu">
      <ul>
        <li>Excluir Mensagem</li>
        <li>Bloquear Usuário</li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    props : ['user'],
    mounted(){

    }
  }
</script>