<template>
  <div>
    <div id="chat-form" class="p-3 white lt b-t mt-auto">
      <form @submit.prevent.keyup="sent">
        <div class="input-group">
          <input type="text" class="form-control" id="message" v-model="message.message">
          <div class="input-group-append">
            <button type="submit" class="btn white b-a no-shadow"><i class="fa fa-send text-success"></i></button>
          </div>
          
        </div>
      </form>
    </div>
  </div>
</template>

<script>
    export default {
      props : ['user'],
      data(){
        return {
          message : {
            message : '',
            admin : this.user,
            user : this.user,
            is_admin : true,
            is_user : false
          }
        }
      },
      methods : {
        sent(){
          //console.log(JSON.stringify(this.message,null,2))
          this.$emit('messagesent',this.message)
          //document.getElementById('message').value = ""
        }
      }
    }
</script>