.context-menu{
  max-width: 340px;
  overflow: hidden;
  position: absolute;
  z-index: 10000;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  padding: 9px 0px;
  text-align: left;
  transform-origin: right top 0px;
  /* top: 266px;
  right: 102.683px; */
  transform: scale(1);
  opacity: 1;
}

.msg-content{
  margin-right: 20px;
}

.chat-menu{
  visibility: hidden;
}
.chat-menu .dropdown-toggle{
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.chat-menu .dropdown-toggle::after{
  content : none;
}

.chat-item:hover .chat-menu{
  visibility: visible;
}