.form-control{
  padding: 8px 10px;
  border-radius: 3px !important;
  color: #555 !important;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.10) !important;
  background-color: transparent;
  outline: none;
  background: #f4f6f9 !important;
  height: 40px;
}

.form-group{
  
  /* background: #f4f6f9 !important; */
}

.btn{
  height: 40px;
  border-width: 1px;
  border-radius: 30px !important;
  padding: 11px 23px;
  cursor:pointer;
}

.card{
  background: #fff;
  border-radius: .25rem;
  padding: 15px 0px 15px 0px;
  box-shadow: 1px 1px 4px #a2a2a2;
}

.content-header{
  background: linear-gradient(135deg,#b452c3 0,#49cece 100%)
}

.sidenav .nav li > a {
  color: #fff;
  display: block;
  padding: 10px 1rem;
  line-height: 2.25rem;
  position: relative;
  white-space: nowrap;

}

.rounded{
  border-radius: 50% !important;
}

.nav-icon {
  float: left;
  margin-right: 0.5rem;
  margin-left: -0.25rem;
  font-size: 23px;
  top: 0;
  width: 3.25rem;
  height: 2.25rem;
  text-align: center;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  transition: font-color .15s ease-in-out;
}

.nav-text {
  display: block;
  line-height: 1.125rem;
  font-weight: 300;
  transition: opacity .15s ease-in-out;
  padding: 0.5625rem 0;
  font-size: 15px;
}

.btn-xs {
  padding: .2195rem .5rem;
  font-size: 0.8rem;
  line-height: 1;
  height: auto;
}

.box-shadow-0, .box-shadow-0 .box, .box-shadow-0 .box-color {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.box{
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
}

.avatar{
  line-height: 40px;
  font-size: 30px;
}

.btn-circle{
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  padding: 10px;
}

table thead tr th {
  font-weight: 900 !important; border-bottom: 1px solid #11111124 !important;
}

body{
  background: #dedede;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
} 

.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }