

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	color: #545454;
	display: inline-block;
}

#clockdiv div > span{
	display: inline-block;
	font-family: 'Lato';
    font-weight: 900;
}

.smalltext{
	font-size: 13px;
    color: #545454;
    font-family: 'Lato';
    font-weight: 600;
    margin-top: -10px;
}

.elemento-contador { 
	margin: 0px 20px;
}