/*
Custom css
*/


table.dataTable.no-footer {
  border-bottom: none !important;
}

.pagination{
  margin-top: 12px;
}

.pagination li + li{
  margin-left: 10px;
}

.pagination span{
  padding: .5rem .75rem;
  display: block;
}

.pagination li a {
  background-color: #fff !important;
  border-color: none !important;
  border-radius: 4px;
}