.text-theme,
.text-hover-theme a:hover,
.text-hover-theme .active > a {
  color: #ed7c4b;
  }

.nav-active-theme .nav-link.active,
.nav-active-theme .nav > li.active > a,
.btn.theme,
.btn.b-theme:hover,
.btn.b-theme:focus,
.pace .pace-progress,
.theme {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #fdab29 !important; }

.b-theme,
.nav-border,
nav.nav-border {
  border-color: #fdab29 !important; }

.btn.theme-accent,
.btn.b-theme-accent:hover,
.btn.b-theme-accent:focus {
  color: rgba(255, 255, 255, 0.85) !important;
  background: linear-gradient(to right, #ef804e , #ff6100);
  }

.theme-accent {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #fdab29 !important; }

.sidenav .nav-border .active > a,
.sidenav .nav-active-text .active > a {
  color: #f3a164;
  }

.fill-theme {
  fill: #fdab29; }

.stroke-theme {
  stroke: #fdab29; }
